@page
@model RecruitCatmahajasl.Pages.Index1Model
@{
}
<CENTER><h1>THE CAREER CLUB INC.</h1><img src="~/logo.jpg" width="100px" height="100px"></CENTER>
<div class="container">
    <main role="main" class="pb-3">
        
    </main>
</div>
