@page
<html>
<body>
<h1>Our Team</h1>
THE CAREER CLUB TEAM AND OUR PROVEN PROCESS
<br />
<br />
    <h2>1. Snehal Mahajan</h2>
    <h3>Founder and Executive chair</h3>
    <div class="row">
        <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="~/2-modified.jpg" class="card-img-top" alt="image">
        <div class="card-body">
            <p class="card-text">
                Snehal founded The career club inc in 2016. As Founder and Executive Chair of the career club,
                she built the industry-leading global Employer of Record category in what experts call a trillion-dollar opportunity
                in the new era of global remote work. The careerclub eliminates the traditional HR, legal, and tax hurdles companies
                otherwise face when building global remote teams. It enables companies to hire anyone, anywhere, within minutes – without
                setting up international branch offices. Snehal began to build The career clubs digitized and fully compliant global
                Employment Platform™ after spending years lending consulting expertise to high-growth companies building international teams.
                </p>
        </div>
    </div>
    </div>
    <div class="col">
    <h2>2. Emil watson</h2>
    <h3>Partner</h3>
    <div class="card" style="width: 18rem;">
        <img src="~/1.jpg" class="card-img-top" alt="image">
        <div class="card-body">
            <p class="card-text">
                Emil is a partner of at another holdings company, which serves a investment holding company. He co-founded it in 2008.
                Emil has been investing in, and helping to build, high-growth private businesses for 25 years.
                He currently serves on the Board of Directors of seven of the companies portfolio companies, and has served on many other portfolio
                company Boards previously.
                We are lucky to have Emil on our team</p>
        </div>
    </div>
    </div>
    <div class="col">
    <h2>3. Radhika Adwant</h2>
<h3>Partner and Head HR</h3>
    <div class="card" style="width: 18rem;">
        <img src="~/2.jpg" class="card-img-top" alt="image">
        <div class="card-body">
            <p class="card-text">
                    Radhika is a Partner and works for a London-based private equity firm with 10 billion Euros under management.
                    She has been a private equity investor for 27 years and has invested in a wide range of businesses based in the
                    US and Europe. She looks to help management teams build organizations capable of both organic and acquisitive growth
                    with a focus on the use of data science, digital and operational resources. Over her career, she has been an active
                    Board Member of companies across a variety of business services, financial services and consumer facing industries.
                </p>
</div>
</div>
</div>
</div>
</body>
</html>